In [ ]:
from datetime import datetime 
from pandas import Series
import numpy as np

dates=[datetime(2019,11,1),datetime(2019,11,2),datetime(2019,11,3),datetime(2019,11,4),datetime(2019,11,5),datetime(2019,11,6)]

ts=Series(np.random.randn(6),index=dates)

In [ ]:
ts + ts[::2]

In [ ]:
ts['2019-11-01']

In [ ]:
ts['20191101']

In [ ]:
ts['11/1/2019']

In [ ]:
import pandas as pd
longer_ts = pd.Series(np.random.randn(1000).cumsum(),index=pd.date_range('1/1/2000',periods=1000))
longer_ts['2001']
longer_ts.resample('W').asfreq()
longer_ts.resample('W').mean()

In [ ]:
dates = pd.date_range('1/1/2000',periods=100,freq='D')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['EBAY','MSFT','AAPL','AMZN'])
long_df.loc['2000-2']

In [ ]:
pd.date_range(start='4/1/2019',periods=20)

In [ ]:
pd.date_range(end='6/1/2019',periods=20)

In [ ]:
pd.date_range('1/1/2019','12/1/2019',freq='BM')

In [ ]:
from pandas.tseries.offsets import Hour,Minute
four_hours = Hour(4)

In [ ]:
pd.date_range('1/1/2019','1/3/2019 23:59',freq='4h')

In [ ]:
ts=Series(np.random.randn(4),index=pd.date_range('1/1/2019',periods=4,freq='M'))
ts.shift(2)

In [ ]:
ts.shift(-2)

In [ ]:
ts.shift(2,freq='M')

In [ ]:
ts.shift(3,freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(100, 3).cumsum(0),
                  columns=['A', 'B', 'C'],
                  index=pd.date_range('2019-01-01', periods=100))
df['A'].plot()
import matplotlib.pyplot as plt
plt.show()

In [ ]:
df['A'].rolling(5).mean()

In [4]:
import tushare as ts
df = ts.get_stock_basics()

In [5]:
ts.get_report_data(2019,3)

[Getting data:]###############################################################

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
0,688300,联瑞新材,0.83,20.29,5.54,15.90,0.92,5341.31,25.61,NaN,11-14
1,300796,贝斯美,0.57,5.56,6.53,8.69,0.37,5154.94,4.22,NaN,11-14
2,688101,三达膜,0.91,62.50,6.57,14.90,0.81,22879.14,64.38,NaN,11-14
3,300802,矩子科技,0.88,-8.33,5.71,15.75,1.11,6595.62,-8.20,NaN,11-13
4,603489,八方股份,2.66,48.60,7.34,43.85,1.55,23915.12,48.07,NaN,11-08
...,...,...,...,...,...,...,...,...,...,...,...
3719,002261,拓维信息,0.06,14.00,NaN,2.50,NaN,6292.09,25.50,NaN,10-12
3720,002261,拓维信息,0.06,14.00,NaN,2.50,NaN,6292.09,25.50,NaN,10-12
3721,002714,牧原股份,0.66,288.24,NaN,10.29,NaN,138691.27,296.04,NaN,10-12
3722,002136,安纳达,0.18,-40.88,NaN,5.64,NaN,3946.51,-40.87,NaN,10-10
3723,002913,奥士康,1.43,11.72,NaN,8.99,NaN,20621.23,11.41,NaN,10-10

In [6]:
ts.get_profit_data(2019,3)

[Getting data:]###############################################################

,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
0,600083,博信股份,70.59,8.76,7.1966,14.3832,0.0625,164.0371,0.7132
1,002234,民和股份,52.63,53.80,58.3539,1252.3255,4.1461,2327.6988,7.7064
2,002458,益生股份,51.03,61.55,64.5002,1468.5404,2.5493,2385.9298,4.1419
3,600768,宁波富邦,49.36,26.15,2.9585,113.1918,0.8463,432.7077,3.2352
4,000526,紫光学大,44.25,2.62,28.9958,63.9875,0.6651,2433.3378,25.2958
...,...,...,...,...,...,...,...,...,...
3719,600074,*ST保千,NaN,-294.39,37.3505,-311.9191,-0.1279,105.9526,0.0434
3720,002711,*ST欧浦,NaN,-65.07,7.3856,-90.0682,-0.0852,138.4078,0.1310
3721,300116,坚瑞沃能,NaN,-606.56,12.0481,-2607.0239,-1.0717,429.8022,0.1766
3722,600462,*ST九有,NaN,-7.33,11.0831,-16.2362,-0.0304,221.4690,0.4149
3723,600485,*ST信威,NaN,-8491.10,26.8138,-15858.4217,-5.4240,186.7650,0.0638

In [7]:
ts.get_operation_data(2014,3)

[Getting data:]################################################

,code,name,arturnover,arturndays,inventory_turnover,inventory_days,currentasset_turnover,currentasset_days
0,600605,汇通能源,5.7747,46.7557,102298.4414,0.0026,3.9518,68.3233
1,002649,博彦科技,3.0000,90.0000,37127.2743,0.0073,1.0532,256.3616
2,002707,众信旅游,20.0313,13.4789,7704.9730,0.0350,3.7006,72.9611
3,002039,黔源电力,7.8636,34.3354,6360.2514,0.0425,2.0979,128.7001
4,300071,华谊嘉信,1.8090,149.2537,3002.9073,0.0899,1.4096,191.5437
...,...,...,...,...,...,...,...,...
2817,300494,盛天网络,NaN,NaN,NaN,NaN,NaN,NaN
2818,600958,东方证券,NaN,NaN,NaN,NaN,NaN,NaN
2819,601169,北京银行,NaN,NaN,NaN,NaN,NaN,NaN
2820,603866,桃李面包,NaN,NaN,NaN,NaN,NaN,NaN
2821,300461,田中精机,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = ts.get_hist_data("sz000001", start="2019-01-01")
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-11-14,16.43,16.48,16.32,16.25,468899.56,-0.01,-0.06,16.382,16.669,16.649,688588.28,833512.94,935273.97
2019-11-13,16.29,16.46,16.33,16.06,655120.62,0.00,0.00,16.496,16.663,16.668,737187.76,872879.90,968138.11
2019-11-12,16.29,16.37,16.33,16.16,516266.41,0.05,0.31,16.622,16.673,16.691,778828.71,892799.56,998765.64
2019-11-11,16.50,16.53,16.28,16.20,953515.62,-0.37,-2.22,16.786,16.731,16.733,910072.60,920059.40,1017050.09
2019-11-08,16.98,17.02,16.65,16.64,849139.19,-0.24,-1.42,16.914,16.769,16.780,897334.33,931720.95,1047256.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-08,9.73,9.74,9.66,9.62,402388.12,-0.08,-0.82,9.524,9.434,9.753,740831.82,642223.01,629898.29
2019-01-07,9.84,9.85,9.74,9.63,865687.69,-0.01,-0.10,9.468,9.413,9.784,775674.99,702045.88,626789.69
2019-01-04,9.24,9.82,9.75,9.22,1481159.00,0.47,5.07,9.376,9.410,9.809,727456.11,714505.59,612448.63
2019-01-03,9.18,9.33,9.28,9.15,415537.97,0.09,0.98,9.286,9.429,9.844,515452.42,626190.39,567467.94
2019-01-02,9.39,9.42,9.19,9.16,539386.31,-0.19,-2.03,9.298,9.513,9.910,549667.92,638411.02,573431.70