In [1]:
# Series 创建
import pandas as pd
s = pd.Series([4, 5, 3, 1])

# 获取数值
print(s.values)

# 获取索引
print(s.index)

[4 5 3 1]
RangeIndex(start=0, stop=4, step=1)

In [2]:
# 显式指定索引
s2 = pd.Series([4, 5, 3, 1], index=['a', 'b', 'c', 'd'])
print(s2.index)

# 通过索引选取值
print(s2['a'])
s2['a'] = 6
s2[['a','b']]

Index(['a', 'b', 'c', 'd'], dtype='object')
4

a    6
b    5
dtype: int64

In [4]:
# 数组运算
import numpy as np
s2[s2>0]
s2*2
np.exp(s2)

# 判断索引是否存在
'b' in s2
'e' in s2

# 通过字典创建Series
data = {'shanghai': 1, 'beijing': 2, 'shenzhen': 3}
s3 = pd.Series(data)

In [5]:
# 检查缺失值
s3['guangzhou'] = np.nan
s3.isnull()

# 按索引自动对齐
s4 = pd.Series({'shanghai': 1, 'beijing': 2, 'chongqing': 3})
s3 + s4

# Series的name属性
s3.name = 'population'
s3.index.name = 'city'

In [6]:
# DataFrame 创建
data = {'year': [2017, 2018, 2019],
    'revenue': [10, 20, 30]}
df = pd.DataFrame(data)

# 指定列序列
df = pd.DataFrame(data, columns=['year', 'revenue'])

# 指定索引
df = pd.DataFrame(data, index=[4, 5, 6])

In [8]:
# 设置索引列
df.set_index('year', inplace=True)

# 通过传入Series创建DataFrame
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])
df = pd.DataFrame({'A': s1, 'B': s2})

# 通过传入ndarray创建DataFrame
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
df = pd.DataFrame({'A': a1, 'B': a2})

In [9]:
# 创建带时间索引的DataFrame
dates = pd.date_range('2019-01-01', periods=6)
df = pd.DataFrame(np.random.randn(6,3), index=dates, columns=list('ABC'))

In [34]:
# 练习 - 6家上市公司数据
df_company = pd.DataFrame({'marketcap': [449, 371, 237, 21313, 1369, 823], 'pe': [8.31, 15.36, 16.01, 7.16, 7.59, 6.3],
                  'code': ['600926', '002958', '601128', '601398', '601229', '600919']},
                 index=['杭州银行', '青农商行', '常熟银行', '工商银行', '上海银行', '江苏银行'])
df_company

      marketcap     pe    code
杭州银行        449   8.31  600926
青农商行        371  15.36  002958
常熟银行        237  16.01  601128
工商银行      21313   7.16  601398
上海银行       1369   7.59  601229
江苏银行        823   6.30  600919

In [13]:
# 查看顶部数据
df.head()

# 查看底部数据
df.tail(3)

# 显示索引
df.index

# 显示列
df.columns

Index(['marketcap', 'pe', 'code'], dtype='object')

In [18]:
# 显示数据的统计摘要
df.describe()

# 转置数据
df.T

# 按轴排序
df.sort_index(axis=1, ascending=False)

# 按值排序
dates = pd.date_range('2019-01-01', periods=6)
df = pd.DataFrame(np.random.randn(6,3), index=dates, columns=list('ABC'))
df.sort_values(by='B')

                   A         B         C
2019-01-05 -0.610694 -0.310413 -1.845330
2019-01-04 -0.812787 -0.061996 -1.842953
2019-01-01 -1.789110 -0.060691  2.085259
2019-01-06  0.194849  0.559136 -0.960973
2019-01-02  0.470534  0.900544 -1.429714
2019-01-03 -0.909078  1.608964 -0.373510

In [25]:
# 选择一个列
df['A']

# 切片操作
df[1:3]
df['2019-01-02':'2019-01-05']

# 选择多列数据
df.loc[:, ['A', 'B']]

# 在两个轴上切片
df.loc['2019-01-02':'2019-01-05', ['A','B']]

                   A         B
2019-01-02  0.470534  0.900544
2019-01-03 -0.909078  1.608964
2019-01-04 -0.812787 -0.061996
2019-01-05 -0.610694 -0.310413

In [26]:
# 获取一行
df.loc['2019-01-05']

# 获取某一行的某一列
df.loc['2019-01-02', 'A']
df.at['2019-01-02', 'A']

0.47053425786485675

In [27]:
# 按位置选择
df.iloc[3]

# 通过整数切片
df.iloc[3:5, 0:2]

# 整行切片
df.iloc[3:5, :]

# 整列切片
df.iloc[:, 0:2]

                   A         B
2019-01-01 -1.789110 -0.060691
2019-01-02  0.470534  0.900544
2019-01-03 -0.909078  1.608964
2019-01-04 -0.812787 -0.061996
2019-01-05 -0.610694 -0.310413
2019-01-06  0.194849  0.559136

In [28]:
# 获取某一行某一列
df.iloc[1, 1]
df.iat[1, 1]

0.9005440248754476

In [29]:
# 使用单个列的值来选择数据
df[df.A > 0]

# 选择满足布尔条件的值
df[df > 0]

                   A         B         C
2019-01-01       NaN       NaN  2.085259
2019-01-02  0.470534  0.900544       NaN
2019-01-03       NaN  1.608964       NaN
2019-01-04       NaN       NaN       NaN
2019-01-05       NaN       NaN       NaN
2019-01-06  0.194849  0.559136       NaN

In [31]:
# 新增列
df["D"] = [1,2,3,4,5,6]

# 精确匹配索引
s1 = pd.Series([6,5,4,3,2,1], index=pd.date_range('2019-01-01', periods=6))
df["D"] = s1

# 指定列名赋值
df.loc['2019-01-01', 'A'] = 0

In [33]:
# 通过位置赋值
df.iloc[0,1] = 0

# 使用NumPy数组赋值
df.loc[:, 'D'] = np.array([6] * len(df))

# 条件赋值
df[df < 0] = -df

In [35]:
# 练习 - 过滤公司
df_company[df_company.marketcap<2000]

      marketcap     pe    code
杭州银行        449   8.31  600926
青农商行        371  15.36  002958
常熟银行        237  16.01  601128
上海银行       1369   7.59  601229
江苏银行        823   6.30  600919

In [36]:
df_company[(df_company.marketcap <2000) & (df_company.pe<10)]

      marketcap    pe    code
杭州银行        449  8.31  600926
上海银行       1369  7.59  601229
江苏银行        823  6.30  600919

In [39]:
# Pandas中用np.nan来表示缺失的数据
df.loc['2019-01-02', 'A'] = np.nan
df.loc['2019-01-03', 'B'] = np.nan

# 删除带有缺失值的行
df.dropna(how='any')

# 填充缺失值
df.fillna(value=5)

# 判断DataFrame中的元素是否nan
pd.isna(df)

                A      B      C      D
2019-01-01  False  False  False  False
2019-01-02   True  False  False  False
2019-01-03  False   True  False  False
2019-01-04  False  False  False  False
2019-01-05  False  False  False  False
2019-01-06  False  False  False  False

In [41]:
df.max()
df.min()
df.mean()
df.std()
df.std(axis=1)
df.idxmax()
df.cumsum()
df.corr()
df['A'].values

array([0.        ,        nan, 0.90907816, 0.81278749, 0.6106936 ,
       0.19484905])

In [42]:
# 移动数据
df.shift(1)

# 自定义函数
df.apply(lambda x: x.max()-x.min())

# 移动窗口函数
df['A'].rolling(window=3).mean()
df['A'].rolling(window=3).apply(lambda x: x.max()-x.min())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  if __name__ == '__main__':

2019-01-01         NaN
2019-01-02         NaN
2019-01-03         NaN
2019-01-04         NaN
2019-01-05    0.298385
2019-01-06    0.617938
Freq: D, Name: A, dtype: float64

In [46]:
# 移除重复数据
data = pd.DataFrame({'a': ['one']*3+['two']*3,
  'b': [1,1,1,2,2,2]})
data.duplicated()
data.drop_duplicates()
data.drop_duplicates(['b'])
data.drop_duplicates(['b'], keep="last")

     a  b
2  one  1
5  two  2

In [51]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'], 'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'], 'D':['D0','D1','D2','D3']},
                   index=[0,1,2,3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [52]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'], 'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'], 'D':['D4','D5','D6','D7']},
                   index=[4,5,6,7])
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [55]:
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'], 'B':['B8','B9','B10','B11'],
                    'C':['C8','C9','C10','C11'], 'D':['D8','D9','D10','D11']},
                   index=[8,9,10,11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [54]:
pd.concat([df1,df2,df3])

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [63]:
# 数据分组与聚合
df = pd.DataFrame({
  'sex':['F','M','F','M','M'],
  'height': [170,165,175,172,180],
  'weight': [55,66,60,70,65]})

df.groupby(df['sex']).mean()

         height  weight
sex
F    172.500000    57.5
M    172.333333    67.0

In [65]:
df.groupby(['sex']).agg(['mean', 'std'])

peak_to_peak = lambda x: x.max() - x.min()
df.groupby(['sex']).agg(peak_to_peak)

     height  weight
sex
F         5       5
M        15       5