In [86]:
import pymongo
import pandas as pd
client = pymongo.MongoClient()
db = client["house"]
cursor = db.house.find()
df = pd.DataFrame(list(cursor))
df.drop_duplicates(inplace=True)

In [87]:
df = df[(df.price > 0) & (df.size > 0)]

In [49]:
df.head()

,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
0,5dcbb62694ae6f30ad4f8d99,三房+诚意出售+全明户型+看房方便+钥匙房,420.0,46497.0,培花久远公寓,90.33,1997,3室1厅,南,简装,高楼层(共6层),板楼,浦东,北蔡
1,5dcbb62694ae6f30ad4f8d9a,10+婚房新装修+无增值税+无个税+诚意出售看房方便！！,208.0,45565.0,芳雅苑,45.65,1995,1室1厅,南,精装,高楼层(共7层),板楼,浦东,北蔡
2,5dcbb62694ae6f30ad4f8d9b,新上电梯两房，无增值税，自住装修，看房方便，诚售,460.0,60671.0,大华锦绣华城(二街区),75.82,2012,2室1厅,南 北,精装,低楼层(共18层),板楼,浦东,北蔡
3,5dcbb62694ae6f30ad4f8d9c,2003年新房+东边套+20万装修+着急出售。,219.0,47280.0,绿川新苑,46.32,2003,1室1厅,南,精装,高楼层(共6层),板楼,浦东,北蔡
4,5dcbb62694ae6f30ad4f8d9d,非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正,330.0,52290.0,芳雅苑,63.11,1995,2室1厅,南,精装,低楼层(共6层),板楼,浦东,北蔡

In [52]:
len(df)

69716

In [53]:
df = df.drop_duplicates(["title", "price",
                    "xiaoqu_name", "size",
                    "buildyear", "huxing",
                    "chaoxiang", "zhuangxiu",
                    "cenggao", "district_name",
                    "sub_district_name"])
len(df)

69142

In [22]:
df.columns

Index(['_id', 'title', 'price', 'up_price', 'xiaoqu_name', 'size', 'buildyear',
       'huxing', 'chaoxiang', 'zhuangxiu', 'cenggao', 'louxing',
       'district_name', 'sub_district_name'],
      dtype='object')

69716

In [24]:
len(df.xiaoqu_name.unique())

8581

In [29]:
len(df.district_name.unique())

15

In [27]:
len(df.sub_district_name.unique())

165

In [47]:
df.louxing.unique()

array([' 板楼', ' 塔楼', '', ' 板楼 ', ' 暂无数据', ' 板塔结合', ' 平房', ' 塔楼 ', ' 平房 ',
       ' 暂无数据 '], dtype=object)

In [46]:
df.huxing.unique()

array(['3室1厅 ', '1室1厅 ', '2室1厅 ', '4室3厅 ', '2室2厅 ', '3室2厅 ', '1室2厅 ',
       '4室2厅 ', '2室0厅 ', '', '5室1厅 ', '5室3厅 ', '1室0厅 ', '5室2厅 ', '4室1厅 ',
       '4室4厅 ', '6室3厅 ', '5室6厅 ', '3室3厅 ', '5室4厅 ', '6室2厅 ', '7室3厅 ',
       '9室2厅 ', '7室2厅 ', '7室1厅 ', '6室4厅 ', '6室1厅 ', '8室4厅 ', '3室0厅 ',
       '7室4厅 ', '7室5厅 ', '4室5厅 ', '20室0厅 ', '9室6厅 ', '9室4厅 ', '10室1厅 ',
       '4室0厅 ', '6室5厅 ', '8室1厅 ', '9室3厅 ', '9室9厅 ', '5室5厅 ', '8室3厅 ',
       '2室3厅 ', '7室6厅 ', '8室2厅 ', '0室0厅 ', '6室6厅 ', '10室6厅 ', '2室4厅 ',
       '11室3厅 ', '6室0厅 ', '10室2厅 ', '7室0厅 ', '8室5厅 ', '10室3厅 ', '5室0厅 ',
       '3室5厅 '], dtype=object)

In [74]:
df.groupby("huxing")["huxing"].count().sort_values()

huxing
9室9厅          1
6室6厅          1
7室0厅          1
4室5厅          1
3室5厅          1
2室4厅          1
8室5厅          1
20室0厅         1
8室1厅          1
11室3厅         1
10室2厅         1
10室6厅         1
10室1厅         1
10室3厅         1
9室3厅          1
9室6厅          2
5室0厅          2
5室6厅          2
6室0厅          2
7室6厅          2
5室5厅          2
7室1厅          2
0室0厅          3
9室4厅          3
4室0厅          3
9室2厅          4
6室5厅          4
8室4厅          5
7室5厅          5
8室3厅          6
2室3厅          8
7室4厅          9
8室2厅          9
6室1厅         12
4室4厅         21
7室2厅         28
5室1厅         28
7室3厅         36
5室4厅         45
6室4厅         47
3室0厅        106
3室3厅        129
4室1厅        130
6室2厅        146
6室3厅        175
4室3厅        555
5室3厅        557
5室2厅        835
1室2厅       1128
2室0厅       1347
1室0厅       1876
3室1厅       3219
           3361
4室2厅       3423
1室1厅      11464
3室2厅      11951
2室2厅      12160
2室1厅      16275
Name: huxing, dtype: int64

In [30]:
df.zhuangxiu.unique()

array([' 简装 ', ' 精装 ', ' 毛坯 ', '', ' 其他 '], dtype=object)

In [35]:
df[df.buildyear>0].buildyear.unique()

array([1997, 1995, 2012, 2003, 2013, 2010, 1996, 2004, 2011, 2002, 1999,
       2007, 1994, 2016, 2000, 2005, 2015, 1998, 2008, 2006, 2009, 1993,
       2014, 1992, 2001, 2019, 2018, 1987, 1991, 2017, 1988, 1982, 1984,
       1983, 1981, 1985, 2104, 1977, 1986, 1990, 1989, 1979, 1980, 1953,
       1976, 1958, 1978, 1969, 1974, 1975, 1955, 1971, 1954, 1956, 1959,
       1964, 1960, 1967, 1972, 1961, 1973, 1936, 1949, 1911, 1941, 1948,
       1940, 1939, 1933, 1946, 1937, 1910, 1945, 1957, 1965, 1966, 1970,
       1963, 1968, 1950, 1962, 1930, 1920, 1947, 1938, 1934, 1935, 1921,
       1926, 1912, 1924, 1931, 1928, 1943, 1952, 1951], dtype=int64)

In [75]:
df[df.buildyear>0].groupby("buildyear")["buildyear"].count().sort_values()

buildyear
1910       1
1952       1
1951       1
1950       1
1946       1
        ...
1997    2949
2006    3024
2005    3307
1995    3624
1994    3704
Name: buildyear, Length: 96, dtype: int64

In [36]:
df.price.mean()

574.3169975328464

In [45]:
df["size"].mean()

97.70228727982082

In [42]:
df.groupby("district_name")["price"].mean()

district_name
嘉定     345.022250
奉贤     232.931505
宝山     374.599914
徐汇     694.460061
普陀     478.819180
杨浦     480.892150
松江     528.510567
浦东     623.055353
虹口     586.318373
金山     177.914156
长宁     739.642506
闵行     573.608100
青浦     740.443709
静安     703.921581
黄浦    1161.369691
Name: price, dtype: float64

In [77]:
df.groupby("district_name")["district_name"].count().sort_values()

district_name
金山      882
青浦     1676
奉贤     2059
黄浦     2105
虹口     2321
长宁     3701
嘉定     4036
静安     4449
徐汇     4557
普陀     4580
松江     4640
宝山     4641
杨浦     4871
闵行     8440
浦东    16184
Name: district_name, dtype: int64

In [55]:
df.sort_values(by="price", ascending=False).head(5)

,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
48976,5dcbbcb734eb03d80e4da782,花园18亩 开门见3座山 背面靠山 南东2面临天然大河,35000.0,191890.0,世茂佘山庄园,1823.97,2008,6室3厅,南,毛坯,2层,板楼,松江,佘山
19954,5dcbb86f94ae6f30ad4fdbb9,罕见！占地10亩庄园，整个园区的King！让上海都在仰望,30000.0,156613.0,绿城玫瑰园,1915.56,2013,6室4厅,南,毛坯,2层,板楼,闵行,马桥
49032,5dcbbcb834eb03d80e4da7ba,仟万精装、华庭岛屿大独栋！5亩占地、自住！价格可谈,30000.0,189672.0,佘山高尔夫郡,1581.68,2009,6室3厅,南 北,精装,2层,板楼,松江,佘山
29770,5dcbb98894ae6f30ad500229,安福路/常熟路 沿街独幢花园洋房，英式风格 地价已补,24999.0,527406.0,常熟路182号,474.00,1937,6室3厅,南,精装,低楼层(共3层),板塔结合,徐汇,衡山路
8360,5dcbb71894ae6f30ad4fae52,世茂顶楼复式，带游泳池，带百平大露台,24000.0,222093.0,世茂滨江花园,1080.63,0,,,,,,浦东,陆家嘴

In [67]:
df.groupby("xiaoqu_name")["up_price"].mean().sort_values()

xiaoqu_name
广丰路289弄       11425.000000
南桥金水领寓        11552.000000
石化一村          12323.600000
万寿新村(金山)      12680.000000
金山银海          12980.000000
                 ...
兴国路322号      318560.500000
复兴西路299弄     356385.666667
霞飞别墅         369767.000000
良友别墅         393443.000000
常熟路182号      527406.000000
Name: up_price, Length: 8581, dtype: float64

In [80]:
df_num = df.groupby("xiaoqu_name")["title"].agg({"house_num": "count"})

C:\Users\linushen\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  """Entry point for launching an IPython kernel.

In [89]:
df_num = df_num[df_num.house_num>10]
df_num

                house_num
xiaoqu_name
MAX未来                  21
一品漫城(一期)(公寓)           14
一品漫城(四期)(公寓)           16
一品漫城二期（公寓）             15
万业新阶                   36
...                   ...
龙源星城                   28
龙盛佳苑                   23
龙盛国际商业广场(商业类)          12
龚华新村                   13
龚路新城                   15

[2124 rows x 1 columns]

In [90]:
df2 = pd.merge(df_num, df, on="xiaoqu_name")

In [93]:
df2.groupby("xiaoqu_name")["up_price"].mean().sort_values()

xiaoqu_name
飞虹北村            14108.000000
石化四村            14647.916667
卫康花苑            14653.181818
石化十村            14735.000000
石化七村            15149.363636
                   ...
华侨城苏河湾(公寓)     164137.000000
御翠园            165054.800000
翠湖天地嘉苑         168671.025641
滨江凯旋门          172093.391304
翠湖天地隽荟         176279.538462
Name: up_price, Length: 2124, dtype: float64