In [1]:
print(3 / 2) # 输出 1.5
print(3 // 2) # 输出 1
print(3 % 2) # 输出 1
print(2 ** 10) # 输出 1024

rate = 0.03
deposit = 10000
print(deposit * rate) # 输出 300

1.5
1
1
1024
300.0

In [2]:
print('hello\nworld')

hello
world

In [3]:
print('string') # 输出 string
print('a'*5) # 输出 aaaaa
print('hello\nworld') # \n 换行
print('I don\'t know') # 输出 I don't know
print('hello' + 'world') # 输出 helloworld

string
aaaaa
hello
world
I don't know
helloworld

In [8]:
word = 'python'
print(word[1]) # 输出 y
print(word[-1]) # 输出 n
print(word[2:5]) # 输出 tho

y
n
tho

In [23]:
s = 'hello world'
print(len(s)) # 输出 11
print(s.upper()) # 输出 HELLO WORLD
print("/".join(["usr", "bin", "python"])) # 输出 usr/bin/python
print("usr/bin/python".split("/")) # 输出
["usr", "bin", "python"]

11
HELLO WORLD
usr/bin/python
['usr', 'bin', 'python']

['usr', 'bin', 'python']

In [24]:
print("My name is %s" % ("John"))
print("I am %d year-old" % (27))
print("deposit rate is %f" % (5.35))

My name is John
I am 27 year-old
deposit rate is 5.350000

In [29]:
print("{} is {} year-old".format("Jane", 5))
print("{:.2f}".format(3.1415926))
print("{:0>4d}".format(5))

Jane is 5 year-old
3.14
0005

In [45]:
squares = [1, 4, 9, 16, 25]
print(squares[0])
print(squares[-1])
print(squares[-3:])

1
25
[9, 16, 25]

In [46]:
squares.append(36)

In [47]:
squares

[1, 4, 9, 16, 25, 36]

In [48]:
squares.extend([49, 64])

In [49]:
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [50]:
squares.sort(reverse=True)

In [51]:
squares

[64, 49, 36, 25, 16, 9, 4, 1]

In [52]:
squares.pop()

1

In [53]:
squares

[64, 49, 36, 25, 16, 9, 4]

In [54]:
range(5)

range(0, 5)

In [55]:
for i in range(5):
    print(i)

0
1
2
3
4

In [56]:
squares = [x**2 for x in range(5)]

In [57]:
squares

[0, 1, 4, 9, 16]

In [58]:
matrix = [ [1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12] ]
print(matrix[1][2])

7

In [61]:
tuple = (1, 4, 9, 16, 25)
print(tuple[0])
print(tuple[1:3])

1
(4, 9)

In [63]:
tuple[2] = 1000 # 报错，元组不能赋值

TypeError: 'tuple' object does not support item assignment

In [64]:
squares[2] = 1000 # 合法

In [65]:
squares

[0, 1, 1000, 9, 16]

In [66]:
people = {'jack': 25, 'john': 30, 'jane': 23}
print(people['john'])
people['jane'] = 25
print(people.keys())
print(people.values())

30
dict_keys(['jack', 'john', 'jane'])
dict_values([25, 30, 25])

In [67]:
people = [{"name": "jack", "tel": "13111111", "district": "shanghai"},
         {"name": "john", "tel": "13222222", "district": "beijing"},
         {"name": "jane", "tel": "13555555", "district": "shanghai"}]
people

[{'name': 'jack', 'tel': '13111111', 'district': 'shanghai'},
 {'name': 'john', 'tel': '13222222', 'district': 'beijing'},
 {'name': 'jane', 'tel': '13555555', 'district': 'shanghai'}]

In [70]:
x = int(input("Please enter an age: ")) 
if x <= 0:
    print('illegal age')
elif x < 18:
    print('child')
else:
    print('adult')

Please enter an age: 30
adult

In [71]:
animals = ['dog', 'cat', 'panda']
for animal in animals:
    print(animal)

for i in range(len(animals)):
    print(i, animals[i])

dog
cat
panda
0 dog
1 cat
2 panda

In [72]:
a = 1
while a < 10:
    print(a)
    a += 2

1
3
5
7
9

In [74]:
animals = ['dog', 'cat', 'panda']
for animal in animals:
    print(animal)
    if animal == "cat":
        print("found cat")
        break

dog
cat
found cat

In [75]:
for animal in animals:
    if animal == "cat":
        continue
    print("found ", animal)

found  dog
found  panda

In [76]:
n = 100
t = n
result = 0
while t > 0:
    t = int(t/5)
    result += t
print(result)

24

In [78]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

fib(10)

0 1 1 2 3 5 8

In [1]:
str = input("Please input: ")
print(str)

Please input: abcded
abcded

In [2]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart

x = Complex(3.0, -4.5)
print(x.r, x.i)

3.0 -4.5

In [4]:
from datetime import date
now = date.today()
now_str = now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")
print(now_str)
birthday = date(1985, 1, 1)
age = now - birthday
age.days

11-08-19. 08 Nov 2019 is a Friday on the 08 day of November.

12729

In [5]:
import os.path
os.path.join("usr", "bin", "python")

'usr\\bin\\python'